html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
width: 100%;
height: 100%;
clip: auto;
position: absolute;
overflow: hidden;

}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 0.3;
}

h2 {
    margin-top: 0.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}


button   {
    background-color: lightyellow; /* Green */
    border: none;
    color: white;
    width:18%;
    padding-top:18%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5%;
    border: 2px solid #73AD21;
}


.description {
    font-size: 250%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.description green {
  color: greenyellow;
}

.description yellow {
  color: yellow;
}

.description red {
  color: red;
}



/* popup 

/* Popup container - can be anything you want */
.popup {
    position: relative;
    width:100%;
    position : center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 100%;
    margin-top: 30%;
    background-color: #555;
    opacity: 0.95;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    border: 10px solid green;


}

.okButton {
    
    border-radius: 6px;
    border: 3px solid yellow;

}

.userNameInput{
        
    border-radius: 6px;
    border: 3px solid red;
}



/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 0.95;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.95 ;}
}